
.header {
  margin: 10px 0;
}
.menu {
  display: flex;
}
.flex {
  display: flex;
  gap: 16px;
}
.body {
  & .map {
    & .row {
      display: flex;
      & .cell {
        width: 30px;
        height: 30px;
      }
    }
  }
}